
*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    overflow-x: hidden;
}


.heading{
    position: absolute;
    color: whitesmoke;
    margin-left: 38%;
    margin-top: 20%;
    font-size: 10rem;
}

.offerDiv{
    height: 2rem;
    background-color: teal;
    color: white;
    position: fixed;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}
.offerDiv div{
    
}

.imgDiv{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    margin-left: 0vw;
}
.imgDiv img{
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

.secondDiv{
    display: flex;
}
.secondDiv div{
    height: 25rem;
    flex: 1;
    /* border: 1px solid yellow; */
}


/* IFrame  add youtube link */
.divIFrame{
    display: flex;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    /* border: 1px dotted red; */
}
.divIFrame div{
    height: 35rem;
    /* border: 1px solid blue; */
    padding: 1rem;
    
}



/* footer */
.footer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.row1{
    display: flex;
    /* background-color: #242726; */
    height: 20rem;

}
.row1 div{
    flex: 1;
}

.row2{
    background-color: green;
    color: whitesmoke;
    padding: 1rem   30%;
    text-align: center;
    /* margin-left: 50px; */
}


.fontawesomeDiv{
display: flex;
flex-direction: column;
}

.fontawesomeRow1{
    display: flex;
    
}
.fontawesomeRow1 div{
    flex: 1;
    margin-top: 10%;
}

.fontawesomeRow2{
    display: flex;
}
.fontawesomeRow2 div a{
    font-size: larger;
    font-weight: bold;
    /* color: whitesmoke; */
    text-decoration: none;
}



/* media Queries */
@media only screen and (max-width: 600px){
    
    .secondDiv{
        flex-direction: column;
    }
    .secondDiv div{
         height: 25rem;
         width: 100%;
         flex: 1;
    /* border: 1px solid yellow; */
    }



    .divIFrame{
        flex-direction: column;
        background-color: black;
        color: whitesmoke;
        width: 100%;
        /* border: 1px dotted red; */
    }
    .divIFrame div{
        height: 35rem;
        /* border: 1px solid blue; */
        padding: 1rem;
        width: 100%;
        
    }

}